<!DOCTYPE html>
<html>
<body>
    
    <div class="container">
        
        <div class="demo-list-action mdl-list">
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Name</span>
                <span class="mdl-list__item-secondary-content" th:if="${store.address != null}" th:text="${store.address.name}"></span>
            </div>
    
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Street</span>
                <span class="mdl-list__item-secondary-content" th:if="${store.address != null}" th:text="${store.address.street}"></span>
            </div>
    
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Zip code</span>
                <span class="mdl-list__item-secondary-content" th:if="${store.address != null}" th:text="${store.address.zipCode}"></span>
            </div>
    
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">Housenumber</span>
                <span class="mdl-list__item-secondary-content" th:if="${store.address != null}" th:text="${store.address.houseNumber}"></span>
            </div>
            
            <div class="mdl-list__item">
                <span class="mdl-list__item-primary-content">City</span>
                <span class="mdl-list__item-secondary-content" th:if="${store.address != null}" th:text="${store.address.city}"></span>
            </div>
        </div>

    </div>
</body>
</html>